/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

body {
	border-top: #4BC8FF solid 6px;
	border-bottom: #4BC8FF solid 6px;
	background-image: none;
	background-color: white;
	font: normal 16px/1.45 Arial,Helvetica Neue,sans-serif;
	/*
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
	*/
	font-size: 1rem;
	font-weight: 400;
}

html, body, textarea, p {
	font: normal 16px/1.45 Arial,Helvetica Neue,sans-serif;
}

.l-rw {
	max-width: 77.5em;
}


.pattern-2 {
	background-image: none;
	background-color: white;
}

a, a:visited {
	color: #0000DC;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: underline;
}



.node :not(.field-type-image) a::before {
	transition: none;
	height: 0px;
}

h1, h2, h3, .h1, .h2, .h3 {
	letter-spacing: 0;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem; 
}


.button {
	color: white;
	background-color: #0000DC;
	border: white solid 2px;
}

.button:hover {
	background-color: black;
	border-color: black;
}

#rid-header-first {
	margin: 0;
	padding: 0;
}

img.site-branding__logo-img {
	width: 243px;
	height: 68px;
}


#rid-content {
	padding-right: 2rem;
}




#rid-sidebar-second .block__title {
	background-color: #0000DC;
	color: white;
}

#rid-sidebar-second .block__content {
	background-color: white;
	border: #DDDDDD solid 1px;
}


.pr-leaderboard__rw {
	background-color: white;
}

.regions {
	box-shadow: none;
}

.pr-header .regions {
	background-color: white;
}

.pr-navbar .regions {
	background-color: white;
}

.pr-navbar {
	color: #0000DC;
}

#block-languageswitcher a, a:hover {
	text-decoration: none;
}

div.block-plugin-id--views-block-stats-content-block-2:first-child {
	margin-top: 0;
}


.menu {
	list-style-position: inside;
}

ul.menu li:first-child {
	margin-left: -20px;
}

a.menu__link {
	font-size: 1.2rem;
	text-decoration: none;
}

a.menu__link:hover {
	color: black;
	text-decoration: none;
}

.menu a:not(.button):not([class*="toolbar"])::before {
	transition: none;
	height: 0px;
}


.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active {
	color: black;
	font-weight: bold;
	background-color: white;
}


.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active:hover {
	color: black;	
}


.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:hover {
	color: black;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:focus {
	color: black;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:active {
	color: black;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active[href="/"]:hover, .ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active[href="/"]:hover {
	color: black;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active[href="/"] {
	    color: black;
}

/* dropdown menu for mobile */
.rm-toggle__link, .rm-toggle__link:hover, .rm-toggle__link:focus, .rm-toggle__link:active {
	color: white;
	background-color: #0000DC;
}

.ms-slidedown .rm-row, .ms-slidedown .rm-region {
	background-color: #0000DC;
	margin-bottom: 5px;
	margin-right: .4rem;
}

.ms-offcanvas .rm-block__content .menu .menu__link, .ms-offcanvas .rm-block__content .menu .rm-accordion-trigger, .ms-vertical .rm-block__content .menu .menu__link, .ms-vertical .rm-block__content .menu .rm-accordion-trigger, .ms-slidedown .rm-block__content .menu .menu__link, .ms-slidedown .rm-block__content .menu .rm-accordion-trigger, .ms-tiles .rm-block__content .menu .menu__link, .ms-tiles .rm-block__content .menu .rm-accordion-trigger {
	color: white;
	background-color: #0000DC;
}

.ms-offcanvas .rm-block__content .menu .menu__link:hover, .ms-offcanvas .rm-block__content .menu .menu__link:focus, .ms-offcanvas .rm-block__content .menu .rm-accordion-trigger:hover, .ms-offcanvas .rm-block__content .menu .rm-accordion-trigger:focus, .ms-vertical .rm-block__content .menu .menu__link:hover, .ms-vertical .rm-block__content .menu .menu__link:focus, .ms-vertical .rm-block__content .menu .rm-accordion-trigger:hover, .ms-vertical .rm-block__content .menu .rm-accordion-trigger:focus, .ms-slidedown .rm-block__content .menu .menu__link:hover, .ms-slidedown .rm-block__content .menu .menu__link:focus, .ms-slidedown .rm-block__content .menu .rm-accordion-trigger:hover, .ms-slidedown .rm-block__content .menu .rm-accordion-trigger:focus, .ms-tiles .rm-block__content .menu .menu__link:hover, .ms-tiles .rm-block__content .menu .menu__link:focus, .ms-tiles .rm-block__content .menu .rm-accordion-trigger:hover, .ms-tiles .rm-block__content .menu .rm-accordion-trigger:focus {
	color: white;
	background-color: black;
}



/* line under menu */
div.l-navbar {
	border-bottom: #DCDCDC solid 2px;
}

/* search box main page */
#block-exposedformsearch-contentpage-1-2 {
	background-color: #0000DC;
	color: white;
	padding: 1rem 4rem 1rem 4rem;
	margin: 0 5rem 0 3rem;
}

	
#block-exposedformsearch-contentpage-1-2 label.option {
	background-color: #0000DC;
	color: white;
}


/* content navigation */
div.views-field-field-page-pdf-value > div > a {
	padding: .3rem 1rem;
	color: white;
	font-weight: bold;
	background-color: #0000DC;
	text-decoration: none;
}

div.views-field-field-page-pdf-value > div > a:hover {
	color: white;
	font-weight: bold;
	background-color: black;
}

ul.pager__items__next-last a.pager__link, ul.pager__items__first-previous  a.pager__link {
	color: white;
	background-color: #0000DC;
	text-decoration: none;
}

ul.pager__items__next-last a.pager__link:hover, ul.pager__items__first-previous a.pager__link:hover {
	background-color: black;
}

div.view > div.view-content > div.item-list > ul > li.item-list__item {
	margin-bottom: 10px;
}

div.view-book-files-download > div > div > div.views-field {
	margin-bottom: 10px;
}

div.view-page-files-download > div > div {
	margin-bottom: 10px;
}



summary {
	color: white;
	background-color: #0000DC;
	text-decoration: none;
	font-weight: bold;
}

summary:hover {
	background-color: black;
}


ul.pager-item-list li {
	display: inline-block;
	padding: .4rem;
}

div.pager-item2 {
	text-align: center;
}



/*
div.form--inline .form-item {
	float: none;
}
*/

div.form--inline .form-item-search {
	float: none;
}

#footer {
	background-color: white;
	color: black;
	border-top: #DCDCDC solid 1px;
}

#footer > div.regions {
	background-color: white;
	color: black;
}

div.pr-footer__rw {
	padding: 0 .625em;
}


#rid-footer-third {
	/*display: none;*/
}

.pr-footer .block__content a {
	color: #0000DC;
}

.pr-footer .block__content a:hover {
	color: black;
}

#rid-footer-first {
	width: 25%;
}

#rid-footer-second {
	width: 50%;
}

#rid-footer-third {
	width: 25%;
}



article.node--id-14169 figure {
	margin-left: 2rem;
}

#block-footerbrandscz img {
	margin-right: 1rem;
	height: 50px;
	width: auto;
	float: right;
	clear: none;
}

#block-footerbrandscz table {
	float: right;
	margin: 0;
}

#block-footerbrandscz tr, #block-footerbrandscz td {
	border: 0;
	padding: 0;
}

#block-contactbuttoncz.block p {
	text-align: right;
}       




/*
#block-contactbuttoncz .block__content { 
	border: none;
	background-color: #0000DC;
	padding: 1rem 1rem .1rem .7rem;
}

#block-contactbuttoncz .block__content:hover {
	border: none;
	background-color: black;
}

#block-contactbuttoncz .block__content:hover {
	border: none;
	background-color: black;
}

*/

#block-contactbuttoncz a {
	font-size: 1.25rem;
	color: white;
	background-color: #0000DC;
	text-decoration: none;
	padding: .8rem;
}

#block-contactbuttoncz a:hover {
	background-color: black;
}

div.muniweb-bar-cookies__row-main {
        margin: 0 auto;
        padding-left: 20px !important;
        padding-right: 20px !important;
}

div.muniweb-bar-cookies {
        margin: 0 auto;
}

/* mobile version, side bar under the main content */
@media (max-width: 960px) {

	div.block-plugin-id--views-block-stats-content-block-2:first-child {
		margin-top: 1.625em;
	}


	#rid-content {
		padding-right: 1rem;
	}


	#block-exposedformsearch-contentpage-1-2 {
		padding: 1rem 3rem 1rem 3rem;
		margin: 0;
	}

	ul.menu li:first-child {
		margin-left: inherit;
	}


	.rm-toggle__link, .rm-toggle__link:hover, .rm-toggle__link:focus, .rm-toggle__link:active, .rm-toggle__link:focus-visible  {
		outline: 0;
	}


	#rid-footer-first {
		width: auto;
	}

	#rid-footer-second {
		width: auto;
	}

	#rid-footer-third {
		width: auto;
	}

	#block-footerbrandscz table {
	        float: center;
	}

}


